.event-name.ng-star-inserted {
      text-align: left !important;
}

.event-date.ng-star-inserted {
      text-align: left !important;
}

.event-details.simple {
      background-color: #cac3BC !important;
}

.container {
      background-color: #cac3BC !important;
}
