.event-name.ng-star-inserted {
      text-align: left !important;
}

.event-date.ng-star-inserted {
      text-align: left !important;
      justify-content: left !important;
      align-items: left !important;
}

.event-details.simple {
      background-color: #cac3BC !important;
}

.container {
      background-color: #cac3BC !important;
}

.event-details {
      text-align: left !important;
      justify-content: left !important;
      align-items: left !important;
}

.event-where-when.ng-star-inserted {
      text-align: left !important;
      justify-content: left !important;
      align-items: left !important;
}
