.z-50.flex.flex-col.items-center.w-full.bg-white.border-b-2.border-gray-100.border-solid {
display: none;
}

.flex.flex-wrap.w-full.h-14.bg-white.ng-star-inserted {
display: none;
}

.flex.items-center {
display: none;
}

.capitalize.align-text-bottom {
display: none;
}

mt-6 ng-tns-c1232076823-8 {
display: none;
}

