.tickets-content {
  display: flex;
  flex-direction: column;
}

.donation-card.bt-card {
  order: -1;
}

@font-face {
    font-family: "CircularBold";
    src: url("https://mattroush.github.io/HoagSFCustom/fonts/CircularXX-Bold.otf")
}
@font-face {
    font-family: "CircularMedium";
    src: url("https://mattroush.github.io/HoagSFCustom/fonts/CircularXX-Medium.otf")
}
@font-face {
    font-family: "CircularBook";
    src: url("https://mattroush.github.io/HoagSFCustom/fonts/CircularXX-Book.otf")
}
