.main.content-container {
  position: relative;
  z-index: 1;
}

.bt-card .cart-item {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 250px;
}
.donation-card.bt-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-top: 70px;
}
.bt-card .ng-tns-c196-0 {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 250px;
}
