.mat-form-field-flex.ng-tns-c71-19 {
  display: none;
}

.row-space-between.ng-tns-c235-17 {
  display: none;
}

.mat-form-field-flex.ng-tns-c71-23 {
  display: none;
}

.mat-form-field-wrapper.ng-tns-c71-24 {
  display: none;
}

.card-body.ng-tns-c235-17 {
  display: none;
}
