.section.speakers {
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255, 1))
}

.section.venue {
  background: -webkit-linear-gradient(top, #176798, rgba(255, 255, 255, 0))
}

.faq-wrapper {
  background-color: white;
}
